[Unit]
Description=Python HTTP Server

[Service]
User=gwynne
WorkingDirectory=/opt/python-systemd-http-server/public
ExecStart=/opt/python-systemd-http-server/app.py

[Install]
WantedBy=multi-user.target
